<div class="alert alert-success success_message hide">
	<a href="#" class="close" data-dismiss="alert" onclick="return hideSuccessMessage()" aria-label="close">&times;</a>
	Your reservation has been confirmed.
</div>
<div class="alert alert-info info_message hide">
    <a href="#" class="close" data-dismiss="alert" onclick="return hideInfoMessage()" aria-label="close">&times;</a>
    No listings on given criteria.
</div>
<div class="search-outer-div">
    <%= render partial: "spaces/search_html_block", locals: { renderingJsCallback: "searchResponseRenderingCallbackWithoutLogin" } %>
</div>
<div class="spaces-list " id="spaces-list">
</div>
