<input type="checkbox" id="toggle" />
<div class="dashboard-menu-panel">
    <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
    <ul class="menu">
    	<li><a data-link="/reservations/new" href="#">Search</a></li>
        <li><a data-link="/spaces" href="#">Your listings</a></li>
        <li><a data-link="/reservations" href="#">Your bookings</a></li>
    </ul>
</div>
<div id="dashboard-body-content" class="body-content">
</div>
<script>
clickEventOnMenuItem();
</script>