.box {
        border-style: double;
        border-width: thin;
        height: 33.33%;
}

.x-box {
    background: url('x-pic.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.o-box {
    background: url('o-pic.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-msg-div {
    width: 100%;
    height: 28%;
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 125%;
    text-align: center;
    padding-top: 5px;
}

.coin-box:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.coin-box {
    width: 40%;
    height: 60%;
    position: relative;
    float: left;
    border: 1px solid #9325BC;
    padding: 10px;
    margin: 5px;
    margin-left: 15px;
    border-radius: 15px;
}

.coin-div {
    width: 100%;
    height: 75%;
    position: relative;
    float: left;
}

.result-div {
    width: 100%;
    height: 25%;
    position: relative;
    float: left;
    text-align: center;
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 125%;
}

.outer-div {
    width: 25%;
    height: 26%;
    position: relative;
    float: left;
}

.player-name-div {
    text-align: center;
    width: 50%;
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 125%;
    position: relative;
    float: left
}

.coin-pic-div {
    width: 35%;
    height: 80%;
    position: relative;
    float: left;
}

.first-coin-pic-div {
    margin-left: 7%;
}

.second-coin-pic-div {
    margin-left: 15%;
}